<h1 id="tableLabel">Employee List</h1>

<p *ngIf="!fetchedList"><em>Loading...</em></p>

<table *ngIf="fetchedList" class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th *ngIf="deleteIsActive">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeList">
      <td>{{ employee.employeeId }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td *ngIf="deleteIsActive">
        <button (click)="removeSelectedEmployeeClick(employee.employeeId)" class="deleteButton">
          Delete
        </button>
      </td>
    </tr>
    <tr *ngIf="!showAddEmployeeCell">
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td *ngIf="deleteIsActive">&#160;</td>
    </tr>
    <tr *ngIf="showAddEmployeeCell">
      <td>{{ newEmployee.employeeId }}</td>
      <td><input [(ngModel)]="newEmployeeFirstName" type="text" id="newFirstName" name="newFirstName" form="form1"></td>
      <td><input [(ngModel)]="newEmployeeLastName"type="text" id="newLastName" name="newLastName" form="form1"></td>
    </tr>
  </tbody>
</table>
<button *ngIf="!showAddEmployeeCell && !deleteIsActive" class="btn btn-primary" (click)="newEmployeeClick()">Add Employee</button>

<button *ngIf="!showAddEmployeeCell || deleteIsActive" class="btn btn-primary" (click)="removeEmployeeClick()">Remove Employee</button>
<button *ngIf="deleteIsActive" class="btn btn-primary" (click)="cancelRemoveEmployeeClick()">Cancel</button>

<button *ngIf="showAddEmployeeCell"class="btn btn-primary" (click)="submitNewEmployeeClick(newEmployeeFirstName,newEmployeeLastName)">Submit</button>
<button *ngIf="showAddEmployeeCell" class="btn btn-primary" (click)="cancelNewEmployeeClick()">Cancel</button>
