<h1 class="container-header">HELLO, NMBRS!</h1>
<hr class="divider-container" size="6">
<p>Welcome to my demo:</p>
<div class="container-body">
  <p>I've implemented a demo of an employee list page:</p>
  <ul>
    <li>TechStack
    <ul>
        <li>Frontend:
          <ul>
          <li>Angular (TypeScript, HTML, CSS)</li>
          </ul>
        <li>Backend:
          <ul>
            <li>ASP.NET (C#)</li>
            <li>SQLite</li>
          </ul>
        </li>
    </ul>
    </li>
  </ul>
  <p>Functionalities:</p>
    
</div>
